@use '/styles/_partials' as *;

.bodycopy {
  grid-column: $span-full;
  margin-left: 16px;
  margin-right: 16px;

  p {
    line-height: 2rem;
  }

  @include bp-desktop-small {
    grid-column: $span-wide;
  }

  @include bp-desktop-medium {
    grid-column: $span-content;
  }

}