@use '/styles/_partials' as *;

.main {
  min-height: 100vh;
  width: 100vw;
}

.page {
  grid-area: page;
  overflow-x: hidden;
  overflow-y: auto;

  display: grid;
  grid-template-columns: $grid-columns;
  grid-template-areas:
    "header"
    "."
    "footer";
}

.page > * {
  grid-column-start: $span-full-start;
  grid-column-end: $span-full-end;
}

.builder-component {
  grid-template-columns: $grid-columns;
}
.builder-component > * {
  grid-column-start: $span-full-start;
  grid-column-end: $span-full-end;
}

.header {
  grid-area: header;
}

.footer {
  height: 40px;
  position: relative;
  grid-area: footer;
  background-color: #fff;
  text-align: center;

  h4 {
    line-height: 40px;
  }
}
