@use '/styles/_partials' as *;

.module__image_content {
  display: grid;

  picture {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.module__image_content__portrait_left, .module__image_content__portrait_right {
  grid-template-areas:
    "module_image"
    "module_content";

  // Default breakpoint for -left
  @include bp-desktop-small {
      grid-template-areas: "module_image module_content";
  }
}

.module__image_content__portrait_right {
  @include bp-desktop-small {
      grid-template-areas: "module_content module_image";
  }
}

.module__image_content__landscape_left, .module__image_content__landscape_right {
  grid-template-areas:
    "module_image"
    "module_content";
}


.module__image_content__bgcolor {
  background-color: $primary-grey;
}


.module__image_content__image {
  grid-area: module_image;
  object-fit: contain;

  @include bp-desktop-small {
    min-width: 300px;
  }
}

.module__image_content__content {
  grid-area: module_content;
  display: flex;
  justify-content: center;
  padding: 24px;

  @include bp-desktop-large {
    padding: 40px;
  }
}