.cta__block {
  margin: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: inherit;
  padding-bottom: 24px;

  h3 {
    font-size: 24px;
    color: #333;
  }
}

.cta__action {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  color: #333;
  background-color: #fff;
  border-color: rgb(13, 13, 13);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;

  padding: 13px 26px;

  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.cta__action:hover {
  color: #fff;
  background-color: rgb(13, 13, 13);
  border-color: rgb(13, 13, 13);
}

.background__blush {
  background-color: rgba(242, 214, 208, 0.6);
}