@use '/styles/_partials' as *;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Sintony:wght@400;700&display=swap');

body {
  color: $primary-text;
  font-size: $copy-size;
  font-family: $ff-body;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: $primary-white;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5 {
  font-family: $ff-headline;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 1.7rem;
  font-weight: 200;
}

h2 {
  font-size: 35px;
  line-height: 35px;
}

h3 {
  font-size: $copy-size;
  color: $alt-text;
  margin-top: 15px;
}

p {
  line-height: 1.7rem;
  font-weight: 500;
}

a {
  color: $link-text;
  text-decoration: none;
  transition:
    border-color .15s ease-out,
    color .15s ease-out;
}
a:hover {
  color: $link-text-hover;
  border-color: $link-text-hover;
}
.link {
  cursor: pointer;
}

dt {
  color: $alt-text;
  text-transform: uppercase;
  margin: 24px 0px 8px 0px;
}

dd {
  display: flex;
  flex-flow: column nowrap;
  margin-inline-start: 16px;
}

.footer > h4 {
  font-size: 14px;
}

.builder-component, .builder-blocks, .builder-content {
  display: grid !important;
  grid-template-columns: $grid-columns;
}

.builder-component > * {
  display: grid;
  grid-column: $span-full;
}


.builder-content > * {
  display: grid;
  grid-column: $span-full;
}


.builder-blocks > * {
  display: grid;
  grid-column: $span-full;
  grid-template-columns: $grid-columns;
}