@use '/styles/_partials' as *;

.profilecard {
  grid-column: $span-wide;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  @include bp-desktop-small {
    grid-column: $span-full;
  }

}

.profilecard__details {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;

  h1 {
    color: $primary-text;
    font-weight: 300;
    font-size: 32px;

    margin-block-start: 0rem;
    margin-block-end: 0rem;

    @include bp-desktop-small {
      font-size: 48px;
    }
  }
  p {
    font-family: $ff-headline;
    color: $alt-text;
    font-size: 1.1rem;
    text-align: center;
  }
  span {
    font-family: $ff-body;
    margin: 0.5rem;
  }
}

.profilecard__image {
  img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: 50% 50%;
    clip-path: circle(150px at center);
    margin: 1rem;
  }
}

.profilecard__image_placeholder {

  height: 300px;
  width: 300px;
  background-color: $primary-grey;
  clip-path: circle(300px at center);
}
