@use '/styles/_partials' as *;

.titlecard {
  grid-column: $span-wide;
  height: 300px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;

  @include bp-desktop-small {
    grid-column: $span-full;
  }

}

.titlecard__titleblock {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-left: -56px;
  margin-right: 56px;
  padding: 24px 24px;
  background-color: $primary-white;
  border-bottom: solid 2px $primary-grey;
  border-right: solid 2px $primary-grey;

  h1 {
    color: $primary-text;
    font-weight: 300;
    text-align: left;
    font-size: 32px;

    margin-block-start: 0rem;
    margin-block-end: 0rem;

    @include bp-desktop-small {
      font-size: 48px;
    }
  }
  p {
    font-family: $ff-headline;
    color: $alt-text;
    font-size: 1.2rem;
    font-style: italic;
    margin-left: 24px;
    text-align: left;
  }
}

.titlecard__image {

  img {
    height: 300px;
    width: 400px;
    object-fit: cover;
    object-position: 50% 50%;
  }

}

.titlecard__image_placeholder {

  height: 300px;
  width: 400px;
  background-color: $primary-grey;
  border: outset solid 1px $primary-grey;

}
